.header-top {
	height: 100px;
	background-color: #e8ecef;
	width: 100%;
	text-align: center;
	line-height: 50px;
	font-size: 24px;
}
.header-top h1 {
    color: #021f36;
	padding-top: .5em;
}

.header-top h1 img {
	position: relative;
	top: -15px;
	left: 0;
	height: 70px;
}