<template>
  <header class="header-top">
    <h1>
		<a href="http://adlin-science.com" target="_blank" rel="noopener noreferrer">
			<img src="@/static/logo_adlin.webp" alt="" srcset="">
		</a>
		{{ titre }}
		</h1>
  </header>
</template>

<script>
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: 'Header',
  components: {
  },
  data() {
    return {
      titre: 'Booking Meeting Rooms',
    }
  },
}
</script>

<style scoped src='./Header.css'>
</style>