<template>
    <span>
        <span v-if="equipments.name">
            {{ testequipmentname }} coucou - {{ getEquipmentName() }}
        </span>
        <span v-else>Aucun équipement disponible dans cette salle de réunion</span>
    </span>
</template>

<script>
    export default {
        name: 'MeetingRoomEquipment',
        components: {
        },
        props: {
            equipments: {
                type: Object,
                required:true,
            }
        },
        data() {
            return {
                titre: 'MeetingRoomEquipment',
                testequipmentname: ""
            };
        },
        mounted () {
            // eslint-disable-next-line no-console
            console.log(this.equipments);
 
        },
        methods: {
            getEquipmentName() {
                return this.equipments
            }
        },
    };
</script>
