<template>
    <div>
        <span>{{ room.name }}</span>
        <span>   |   </span>
        <span>{{ room.description }}</span>
        <span>   |   </span>
        <span>{{ room.capacity }} coucou</span>
        <span>   |   </span>
        <span>{{ room.equipements }}</span>
        <span>   |   </span>
        <!-- <MeetingRoomEquipment 
            v-for="(equipement, index) in room.equipements"
            :id="index"
                    :key="`${index}-sous-equipment`"
            :equipments="equipement"
        >
        </MeetingRoomEquipment> -->
        <p>

        slt
        </p>
    </div>
</template>

<script>
// import MeetingRoomEquipment from "../MeetingRoomEquipment/MeetingRoomEquipment.vue"

export default {
    /* eslint-disable no-console */
    name: 'MeetingRoom',
    components: {
        // MeetingRoomEquipment
        },
    props: {
        room: {
            type: Object,
            required: true,
        },
        // roomIndex: {
        //     type: Number,
        //     required: true,
        // },
        reserverSalle: {
            type: Function,
            required: true,
        },
    },
    data() {
        return {
            titre: 'MeetingRoom',
        }
    },  
    methods: {},
}
</script>
