<template>
    <a-form>
        <a-row type="flex">
            <a-col :span="5">
                <label for="range-picker-booking-date">Date de la réservation :</label>
            </a-col>
            <a-col :span="4">
                <label for="input-participant-count">Capacité de la salle :</label>
            </a-col>
            <a-col :span="4">
                <label for="checkbox-group-equipment">Equipement(s) souhaité(s) :</label>
            </a-col>
        </a-row>
        <a-row type="flex">
            <a-col :span="5">
                <a-range-picker
                    id="rangePickerBookingDate"
                    :format="formatDateTime"
                    :placeholder="['Début', 'Fin']"
                    separator='-'
                    :show-time="{ format: 'HH:mm' }"
                    @change="onChangeDate"
                    @ok="onClickRangePickerOk"
                    @reset="onResetDate"
                >
                    <a-icon slot="suffixIcon" type="calendar" theme="twoTone" />
                </a-range-picker>
            </a-col>
            <a-col :span="4">
                Pour <a-input-number 
                id="inputParticipantCount" v-model="bookingDayForm.participantCount" 
                :min="2" 
                :max="26" 
                @change="onChangeParticipantCount" /> Personnes
            </a-col>
            <!-- TODO: mettre la valeur max en dynamique -->
            <!-- :max="getMaxValueCapacity" -->
            <a-col :span="4">
                <a-checkbox-group
                    id="checkboxGroupEquipment"
                    v-model="bookingDayForm.equipment"
                    name="checkboxGroupEquipment"
                    :options="bookingDayForm.equipmentOptions"
                    value="bookingDayForm.equipment"
                    @change="onChangeEquipment"
                />
            </a-col>
            <a-col :span="3">
                <!-- TODO: Styliser le bouton avec antD -->
                <a-button 
                    :disabled="isDisabled" type="primary" html-type="submit" 
                    @click.prevent="setFormCompleted"
                >Afficher les salles disponibles</a-button>
            </a-col>
        </a-row>    
    </a-form>
</template>

<script>
// import locale from 'ant-design-vue/es/date-picker/locale/fr_FR'
// The default locale is en-US, if you want to use other locale, just set locale in entry file globally.
import moment from 'moment'
import 'moment/locale/fr'

export default {
    name: 'FormBooking',
    components: {},
    props: {
        setFormCompleted: {
            type: Function,
            required : true
        },

    },
    data() {
        return {
            titre: 'FormBooking',
            bookingDayForm : {
                startValue: null,
                endValue: null,
                participantCount: 2,
                equipment:[],
                equipmentOptions: ["TV", "Retro Projecteur"],
            },
            // formatDateTime:"DD-MM-YYYY à HH:mm",
            formatDateTime:"DD-MM-YYYY HH:mm",
            isDisabled: true
        }
    },
    methods: {
        moment,
        onChangeDate(value, bookingDate) {
            // eslint-disable-next-line no-console
            console.log("APPEL onChangeDate : ");

            this.isDisabled=false;

            // eslint-disable-next-line no-console
            console.log('Selected Time: ', value);
            // eslint-disable-next-line no-console
            console.log('Formatted Selected Time: ', bookingDate);

            this.bookingDayForm.startValue = moment(bookingDate[0], this.formatDateTime);
            this.bookingDayForm.endValue = moment(bookingDate[1], this.formatDateTime);

        },
        onResetDate() {
            this.isDisabled = true;
            this.bookingDayForm.startValue = null;
            this.bookingDayForm.endValue = null;
        },
        onClickRangePickerOk(value) { // Clic sur le bouton Ok du RangePicker
            // eslint-disable-next-line no-console
            console.log('onClickRangePickerOk: ', value);
            // eslint-disable-next-line no-console
            console.log('onClickRangePickerOk: ', this.bookingDayForm.startValue);
            // eslint-disable-next-line no-console
            console.log('onClickRangePickerOk: ', this.bookingDayForm.endValue);
        },
        onChangeParticipantCount(){
            // eslint-disable-next-line no-console
            console.log("APPEL onChangeParticipantCount : ");

            // eslint-disable-next-line no-console
            console.log('Nombre de participant', this.bookingDayForm.participantCount);
        },
        onChangeEquipment(value){
            // eslint-disable-next-line no-console
            console.log('Equipement sélectionné : ', this.bookingDayForm.equipment);
        },
    },
}
</script>

<style scoped src='./FormBooking.css'>
</style>