<template>
<div v-if="isFormCompleted()">

    <div>
        <!-- Affichage de la liste des salles de réunion -->
        <div >Voici la liste des salles disponibles avec les paramètres que vous avez choisi :</div>

        <!-- TODO: et les filtres et les tris : https://antdv.com/components/table/#components-table-demo-filter-and-sorter -->
    </div>
    <div>
        <div>
            <div class="table-operations">
                <a-button @click="setCapacitySort">Tri par capacité de la salle</a-button>
                <a-button @click="setEquipmentSort">Tri par équipements</a-button>
                <a-button @click="clearFilters">Supprimer tous les filtres</a-button>
                <a-button @click="clearAll">Supprimer tous les filtres et les tris</a-button>
            </div>

            <!-- Utilisation du composant a-table de AntDesign pour afficher la liste des salles disponibles
                https://antdv.com/components/table/ -->
            <a-table
                :columns="columnsName"
                :data-source="roomList"
                bordered
                :row-selection="{ selectedRowKeys: selectedRowKeys, onChange: onSelectChange, type:'radio'}"
            >
                <template slot="title">Liste des salles disponibles pour la date et le créneau horaire sélectionné</template>

                <template slot="footer">Veuillez sélectionner la salle où vous voulez effectuer votre réunion </template>
            </a-table>

            <a-button type="primary" html-type="submit" :disabled="!hasSelected" :loading="loading" @click.prevent="reserverSalle">
                Réserver cette salle
            </a-button>

        </div>
    </div>
</div>
</template>

<script>

export default {
    name: 'MeetingRoomsList',
    components: {},
    props: {
        // Est ce que le formulaire est correctement rempli
        isFormCompleted:{
            type: Function,
            required: true
        },
        // Liste de toutes les salles disponibles
        roomList: {
            type: Array,
            required:true
        },
        // Contient toutes les valeurs possibles de capacité contenu dans le fichier salles.json
        // capacityValueAvailable: {
        //     type: Array,
        //     required:true
        // },
        // Contient toutes les valeurs possibles d'équipments contenu dans le fichier salles.json
        // equipmentValueAvailable: {
        //     type: Array,
        //     required:true
        // },
    },
    data() {
        return {
            titre: 'MeetingRoomsList',
            filteredInfo: null,
            sortedInfo: null,
            // Pour la case à cocher du tableau pour sélectionner 
            selectedRowKeys: [], // Check here to configure the default column
            loading: false,
            // Pour les filtres de l'équipment
            tagsFilterDropdownVisible: false,
        };
    },

    computed: {
        hasSelected() {
            return this.selectedRowKeys.length > 0;
        },
        // Pour les entêtes du tableau des salles
        columnsName() {
            let { sortedInfo, filteredInfo } = this;
            sortedInfo = sortedInfo || {};
            filteredInfo = filteredInfo || {};
            const columns = [
                {
                    title: 'Nom',
                    dataIndex: 'name',
                    key: 'name',
                    sorter: (a, b) => a.name.length - b.name.length,
                    sortOrder: sortedInfo.columnKey === 'name' && sortedInfo.order,
                },
                {
                    title: 'Description',
                    dataIndex: 'description',
                    key: 'description',
                    sorter: (a, b) => a.description.length - b.description.length,
                    sortOrder: sortedInfo.columnKey === 'description' && sortedInfo.order,
                },
                {
                    title: 'Capacité',
                    dataIndex: 'capacity',
                    key: 'capacity',
                    // filters: 'capacityValueAvailable',
                    filters: [
                        { text: '5', value: '5' },
                        { text: '10', value: '10' },
                        { text: '11', value: '11' },
                        { text: '26', value: '26' },
                    ],
                    filteredValue: filteredInfo.capacity || null,
                    onFilter: (value, record) => record.capacity.includes(value),
                    sorter: (a, b) => a.capacity - b.capacity,
                    sortOrder: sortedInfo.columnKey === 'capacity' && sortedInfo.order,
                },
                {
                    title: 'Equipements disponible',
                    dataIndex: 'equipements',
                    key: 'equipements',
                    // filters: 'equipmentValueAvailable',
                    // filters: [
                    //     { text: 'TV', value: 'TV' },
                    //     { text: 'Retro Projecteur', value: 'Retro Projecteur' },
                    // ],
                    // filteredValue: filteredInfo.equipment || null,
                    // onFilter: (value, record) => record.equipements.includes(value),
                    sorter: (a, b) => a.equipements.length - b.equipements.length,
                    sortOrder: sortedInfo.columnKey === 'equipements' && sortedInfo.order,
                    scopedSlots: { customRender: 'equipements' },
                },
            ];
            return columns;
        },
    },
    methods: {
        reserverSalle() {
            // eslint-disable-next-line no-console
            console.log("reserverSalle");
        },

        handleChange(pagination, filters, sorter) {
            // eslint-disable-next-line no-console
            console.log('Various parameters', pagination, filters, sorter);
            this.filteredInfo = filters;
            this.sortedInfo = sorter;
        },
        clearFilters() {
            this.filteredInfo = null;
        },
        clearAll() {
            this.filteredInfo = null;
            this.sortedInfo = null;
        },
        setCapacitySort() {
            this.sortedInfo = {
                order: 'descend',
                columnKey: 'capacity',
            };
        },
        setEquipmentSort() {
            this.sortedInfo = {
                order: 'descend',
                columnKey: 'equipements',
            };
        },

        onSelectChange(selectedRowKeys) {
            // eslint-disable-next-line no-console
            console.log('selectedRowKeys changed: ', selectedRowKeys);
            this.selectedRowKeys = selectedRowKeys;
        },
    },

};
</script>

<style scoped>
ul {
    list-style-type: none;
    padding: 0;
}

li:first-child {
    display: inline-flex;
}


.table-operations {
    margin-bottom: 2em;
}

.table-operations>button {
    margin-right: 2em;
}

</style>