<template>
	<footer>
		<a-divider orientation="right">
			ADLIN Booking Meeting Rooms, la seule vraie application de réservation de salles de réunion</p>
    	</a-divider>
	</footer>
</template>

<script>
export default {
  // eslint-disable-next-line vue/multi-word-component-names
name: 'Footer',
data() {
    return {
	titre: 'Footer',
    }
},
}
</script>

<style scoped src='./Footer.css'>
</style>
