<template>
  <div>
    <!-- Petite phrase d'intro -->
    <h2>
      Bienvenue dans notre application de réservation de salles de réunion.
    </h2>

    <!-- Notre composant de sélection -->
    <FormBooking
      :set-form-completed="setFormCompleted"
    ></FormBooking>

    <!-- Notre composant d'affichage des salles de réunions disponibles -->
    <MeetingRoomsList
      :room-list="setEquipmentAvailable(allRooms.rooms)"
      :is-form-completed="isFormCompleted"
      :set-form-completed="setFormCompleted"
    ></MeetingRoomsList>

    <!-- <MeetingRoomsList
      :room-list="setEquipmentAvailable(allRooms.rooms)"
      :capacity-value-available="setArrayFilterCapacity()"
      :equipment-value-available="setArrayFilterEquipment()"
    ></MeetingRoomsList> -->

  </div>
</template>

<script>
import allRooms from '../data/salles.json'

export default {
  name: 'ContenuReservation',
  components: {},
  props: {},
  data() {
    return {
      titre: 'ContenuReservation',
      // formCompleted: false,  // TODO : REMETTRE CETTE INITIALISATION !!!! Et pas celle de dessous
      formCompleted: true,   // Cette initialisation est juste pour tester plus facilement
      allRooms, // Contenu brut du fichier salles.json
      roomListAvailable:[],
      equipmentAvailable: [],
    }
  },
  methods: {
    // Méthode pour transformer le tableau 'equipments' issu de notre fichier salles.json en tableau de String
    // afin de permettre un affichage dans le composant a-table de Ant design Vue, notre framework CSS car 
    // le composant table attend une liste de String
    setEquipmentAvailable(allRoomsList) {
      allRoomsList.map((room) => {
        room.equipements = room.equipements.map((equipement) =>
          equipement.name ? equipement.name : '1'
        )
        return room
      })
      return allRoomsList
    },

    // Méthodes pour remplir automatiquement les capacités
    // setArrayFilterCapacity() {
    //   return this.allRooms.rooms.map(room => room.capacity).filter((value, index, self) => self.indexOf(value) === index)
    // },

    // Méthodes pour remplir automatiquement les noms d'équipements
    // setArrayFilterEquipment() {
    //   const equipments = this.allRooms.rooms.map(room => room.equipements.map(e => e.name));
    //   const flattenEquipments = [].concat.apply([], equipments).filter((value, index, self) => self.indexOf(value) === index);
    //     return flattenEquipments
    // },

    // Méthode pour l'affichage conditionnel de notre tableau des salles
    // Déclencher à l'appui du formulaire
    setFormCompleted() {
      // eslint-disable-next-line no-console
      console.log("value: ", this.formCompleted);
      this.formCompleted = true;
      // eslint-disable-next-line no-console
      console.log("value: ", this.formCompleted);
    },

    isFormCompleted() {
      return this.formCompleted;
    },
  },
}
</script>
