<template>
  <a-layout>
    <a-layout-header>
      <Header></Header>
    </a-layout-header>
    <a-layout-content>
      <ContenuReservation></ContenuReservation>
    </a-layout-content>
    <a-layout-footer>
      <Footer></Footer>
    </a-layout-footer>
  </a-layout>
</template>

<script>
import Header from '../components/Header/Header.vue'
import Footer from '../components/Footer/Footer.vue'
import ContenuReservation from './ContenuReservation.vue'

export default {
  name: 'IndexPage',
  components: {
    Header,
    ContenuReservation,
    Footer,
  },
  data() {
    return {}
  },
  methods: {},
}
</script>

<style scoped>
.ant-layout-content {
  margin: 50px 0;
}

.ant-layout-header {
  background: none;
  height: 100px;
}

.ant-layout-footer {
  background: linear-gradient(
    90deg,
    #003464 0%,
    #00305dad 100%
  );
}

.ant-layout-header,
.ant-layout-content,
.ant-layout-footer {
  padding: 0 90px;
}

.test {
  border: 5px solid red;
}
</style>